/*-- scss:defaults --*/


/* Basic Colors */
$primary: #0a2654; 
$secondary: #9e2e12;
$tertiary: #5b6c3e;
$quaternary: #536787; 
$quinary: #b15741;
$senary:#ffcb4d;  
$septenary: #cf5d00;
$text-color: #343a40;
$navbar-bg-color: #e9e9ea;
$codeblock-bg-color:#f3f3f4;


/* Links Colors*/
$link-color: $quinary; 
$link-hover-color: $secondary; 
$link-visited-color: $secondary; 

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* Copy button Colors*/
$btn-code-copy-color: $quinary; 
$btn-code-copy-color-active: $secondary; 

/* Navbar Colors*/
$navbar-bg: $navbar-bg-color;
$navbar-fg: $text-color;

/* Code blocks Colors*/
$code-block-bg: $codeblock-bg-color; 

/* Callout blocks Colors*/
$callout-color-note: $primary;
$callout-color-tip: $tertiary;
$callout-color-caution: $septenary;
$callout-color-warning: $senary;
$callout-color-important: $secondary;