/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Alegreya|Amiko|Noto+Sans|Fira+Code');


/* Basic Colors */
$primary: #0a2654; 
$secondary: #9e2e12;
$tertiary: #5b6c3e;
$quaternary: #536787; 
$quinary: #b15741;
$senary:#ffcb4d;  
$septenary: #e96800;
$text-color: #343a40;
$navbar-bg-color: #e9e9ea;
$couleur-fond-code:#f3f3f4;
$code-anotation-color: #EBECF1;
$code-annotation-bg: #bec1d2;


/* Links Colors*/
$link-color: $quinary; 
$link-hover-color: $secondary; 
$link-visited-color: $secondary; 

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
/*a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}*/

/* Copy button Colors*/
$btn-code-copy-color: $quinary; 
$btn-code-copy-color-active: $secondary; 

/* Navbar*/
$navbar-bg: $navbar-bg-color;
$navbar-fg: $text-color;

.navbar {
  border-bottom: .5px solid #c8ced5;
}

.navbar-brand > img {
  max-height: 55px;
}


/* Code blocks Colors*/
$code-block-bg: $couleur-fond-code; 

/* Callout blocks Colors*/
$callout-color-note: $primary;
$callout-color-tip: $tertiary;
$callout-color-caution: $septenary;
$callout-color-warning: $senary;
$callout-color-important: $secondary;

/* Code Annotations Colors*/
$code-annotation-higlight-color: $code-annotation-bg;
$code-annotation-higlight-bg: $code-anotation-color;


/* Animation vidéo home*/
.hero-animation {    
  text-align: center;
  video {
  width: 520px;
  margin-top: 60px;
  display: inline-block;
    
  }

}

/*Headers*/
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  /*font-family: Amiko; /*police des titres*/
}
#h1-sans-ligne { /*titre de niveau #1*/
  color: $primary; /*couleur titre*/
  font-weight: bold; /*gras*/
  padding-bottom: 10px;
  font-size: calc(1rem + 0.9vw);
  margin-top: 20px !important;
}
h1.title { /*titre général du document*/
  border-bottom: none !important;
}
main h1 { /*titre de niveau #1*/
  color: $primary; /*couleur titre*/
  font-weight: bold; /*gras*/
  border-bottom: 1px solid #c8ced5;
  padding-bottom: 10px;
}
main h2 { /*titre de niveau #2*/
  color: $secondary; /*couleur titre*/
  font-weight: bold; /*gras*/
  border-bottom: none !important;
}
main h3 { /*titre de niveau #3*/
  color: $quaternary; /*couleur titre*/
  font-weight: bold; /*gras*/
}
main h4 { /*titre de niveau #4*/
  color: $quinary; /*couleur titre*/
  font-weight: bold; /*gras*/
}
main h5 { /*titre de niveau #5*/
  color: $tertiary; /*couleur titre*/
}

/*Style texte*/
$font-family-sans-serif: Noto Sans;

/*Style code*/
$font-family-monospace: Fira Code;

/*Style corps de texte*/
main.content { /*corps de texte*/
  text-align: justify; /*texte justifié*/
  font-size: 1em; /*taille*/
}

/*Blockquotes pour citations */
.blockquote {
  border-left: 5px solid $quaternary; /* Bordure verticale à gauche */
  font-weight: bold;
  color: $quaternary !important;
  
}

#center-text-images {
  text-align: center;
}


/* bouton ressource */
.custom-hover-border {
  transition: border 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #fbfbfb !important;
    border: 0.5px solid #c8ced5 !important;     
    border-radius: 6px;            // Coins arrondis
    box-shadow: 0 0 5px #e9e9ea !important;  // Optionnel : halo lumineux
  }
}

a.btn.custom-hover-border {
  color: #E9E9EA; // remplace par la couleur souhaitée
}
a.btn.custom-hover-border:hover {
  color: #a0a0a0; // couleur au survol, si différente
}

/* Style images listing formations */
.page-formations .thumbnail-image {
  transform: scale(0.8);
  transform-origin: top center; 
  margin-top: -10px !important;
}